.g-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-spacing-large) var(--sl-spacing-2x-large);
}
.g-row--small {
  gap: var(--sl-spacing-medium);
}
.g-row--large {
  gap: var(--sl-spacing-4x-large);
}

.g-row--center {
  align-items: center;
}
.g-row--end {
  align-items: end;
}

.g-row--nowrap {
  flex-wrap: nowrap;
}

.g-row--reverse {
  flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .g-row--desktop,
  .g-row--reverse {
    flex-direction: column;
  }
}

.g-col--full {
  flex-grow: 1;
}