.price {
  font-weight: 700;
  font-size: var(--sl-font-size-large);
  color: var(--sl-color-primary-600);
}
.price::before {
  content: "€ ";
}
.price--large {
  font-size: var(--sl-font-size-x-large);
  line-height: .8;
}